# Leonardo AI (backend)
LEONARDO_API_KEY=
LEONARDO_API_URL=https://cloud.leonardo.ai/api/rest/v1
LEONARDO_MODEL_ID=de7d3faf-762f-48e0-b3b7-9d0ac3a3fcf3

# Backend
PORT=3001
CORS_ORIGIN=http://localhost:3000
UPLOAD_DIR=./uploads

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001
